@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MyTravelSite01.Models.Destination

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Html.DisplayFor(model => model.Name)</title>
</head>
<body>
    <h2>Details</h2>
    <hr />
    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
    <p>@Html.ActionLink("Back to list", "Index")</p>
</body>
</html>